- hosts: localhost
  connection: local
  become: true
  vars:
    user: javiertoledos
  roles:
  - role: geerlingguy.docker
    vars:
      docker_users:
      - "{{ user }}"
  - role: script-tooling
    tags:
      - scripts
  - role: oh-my-zsh
    tags:
      - scripts
  - role: stephdewit.nvm
    become: true
    become_user: "{{ user }}"
    vars:
      nvm_node_version: lts
    environment:
      NVM_DIR: "{{ user }}/.nvm"
  - role: psql-client
  - role: githubixx.kubectl
  - role: helm3
  - role: deekayen.awscli2
  tasks:
  - name: Install Digital Ocean control
    snap:
      name: doctl
  - name: Install Kops
    snap:
      name: kops
  - name:
    apt:
      name: python3-venv
  - name: Install Poetry
    become: true
    become_user: "{{ user }}"
    ansible.builtin.shell: curl -sSL https://install.python-poetry.org | python3 -
    args:
      executable: /bin/bash
      creates: "/home/{{user}}/.local/bin/poetry"
  
  - name: Enable Oh My Zsh! plugins
    lineinfile:
      path: "/home/{{ user }}/.zshrc"
      regex: "^plugins=*"
      line: plugins=(asdf composer aws git kubectl nvm poetry z)

    tags:
      - scripts

  - name: Download Starship prompt installer
    get_url:
      url:  https://starship.rs/install.sh
      dest: /opt/install-starship
      mode: '0755'
    tags:
      - starship
  - name: Install Starship
    ansible.builtin.shell: /opt/install-starship -y
    args:
      creates: /usr/local/bin/starship
    tags:
      - starship
  - name: Enable Starship on Zsh
    blockinfile:
      path: "/home/{{ user }}/.zshrc"
      block: 'eval "$(starship init zsh)"'
    tags:
      - starship